{% extends 'layout.html' %}

{% block content %}
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>SIDE</h2>
            <p class="large">Spatio-temporal IoT Data Management and Intelligence Engine</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <div class="icon"> <img src="../static/images/it_service/i1.png" alt="#" /> </div>
          </div>
          <h4 class="theme_color">Preprocessing IoT Data</h4>
          <p>...</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <div class="icon"> <img src="../static/images/it_service/i2.png" alt="#" /> </div>
          </div>
          <h4 class="theme_color">Spatio-temporal Query</h4>
          <p>Point, Trajectory, and Polygon<br>Data Query with ST/TS-Trie</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30">
          <div class="center">
            <div class="icon"> <img src="../static/images/it_service/i3.png" alt="#" /> </div>
          </div>
          <h4 class="theme_color">Intelligence Service</h4>
          <p>...</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="full text_align_center margin_bottom_30 margin_0">
          <div class="center">
            <div class="icon"> <img src="../static/images/it_service/i4.png" alt="#" /> </div>
          </div>
          <h4 class="theme_color">Interactive Interface</h4>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}